body, html {
	margin:0px;
	font:1em "open sans", sans-serif;
	background-color: lightgrey;
	opacity: 0.90;
}

.nav-main{
	width:100%;
	background-color:#222;
	height:70px;
	color:#fff;
}

.nav-item:focus {
	background-color:#444;
}

.nav-main .logo {
	float:left;
	height:40px;
	padding:15px 30px;
	font-size:1.4em;
	line-height:40px;
}

.nav-main > ul {
	margin:0px;
	padding:0px;
	float:left;
	list-style-type:none;
}

.nav-main > ul > li {
	float:left;
}

.nav-item{
	display:inline-block;
	padding:15px 20px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-decoration:none;
}
figure{
    display:inline;
}
img{
	width:400px;
	height:300px;
	border:30px solid black;
	margin:10px auto 10px auto;
}


h2{
	text-align:center;
}

ol{
	margin-left:40%;
}
.address{
	margin-top: 20px;
	margin-left:100px;
	font-size: 150%;
}
fieldset{border: 2px solid black;
         padding:25px 15px 25px 15px; 
		 margin-right:1000px;
		 margin-left:100px;
}
legend{font-size:150%;}
label{font-size:150%;}

input.type:active{
	cursor:poniter;
}

footer{
	text-align:center;
}
